# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual Environment
venv/
env/

# Django
db.sqlite3
media/
staticfiles/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
